* {
  box-sizing: border-box;
}

*:focus {
  outline-color: #4CDFE8;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #A0B3C6;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -.5px;
  background-color: #191F25;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*word-wrap: break-word;*/
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
a {
  color: #728CA0;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  color: #4CDFE8;
  outline-width: 0;
}
nav a.active {
  color: #4CDFE8;
}
img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0 0 1.45rem 0;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}
p {
  padding: 0;
  margin: 0 0 1.45rem 0;
}